/*Police titre*/
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wallpoet&display=swap');
/*Police body*/
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wallpoet&display=swap');

:root{
    --couleur-bouton: #8C52FF;
    --couleur-background: #000123;
    --couleur-joueur2: #cb6ce6;
    --lettreOK: #3a0ca3;
    --lettreKO: #f72585;
    --lettreMalPlacer: #4cc9f0;
    --focusLettre: #FFFFFF;
}

body {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: var(--couleur-background);
}

h1 {
    font-size: 100px;
    color: white;
    font-family: "Wallpoet", serif;
    font-weight: 400;
    font-style: normal;
}

.boutton {
background-color: var(--couleur-bouton);
color: var(--focusLettre);
font-size:24px; 
padding:10px 20px; 
cursor: pointer; 
border-radius: 50px;
margin-left: 8px;
border: none;
text-transform: uppercase;
}