h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    font-family: "Wallpoet", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
}

a {
    color : white;
    text-decoration: none;
}

p {
    text-align: center;
    color : white
}

/* Lien dans le bouton */
.boutton {
    width: fit-content;
    position: absolute;
    top: 15px;
    right: 20px;
    border-radius: 50px;
    color: var(--focusLettre);
    background-color: var(--couleur-bouton);
    cursor: pointer;
    padding: 7px;
    border: none;
    width: auto;
    height: auto;
    font-size: 15px;
}

h3 {
    color : white;
    text-align: center;
    border: 5px var(--couleur-joueur2) double;
    border-radius: 20px;
    margin : auto;  
    padding: 20px;
}

.afficheResultat {
    text-shadow: #000123;
    color: var(--focusLettre);
    border : 2px solid var(--couleur-bouton);
    width: 200px;
    height: 2.5px;
    padding: 50px;
    align-items: center;
    display: flex;
    font-size: 28px;
    margin-right: auto;
    margin-left: auto;
    /* right: 15px;    */
    /* top: calc(50% - 150px); */
    background: rgba(255, 255, 255, 0.144);    
   /* box-shadow: 10px 10px 2px rgba(255, 255, 255, 0.3);*/
    border-radius: 40px;
    opacity: 0;
    visibility: hidden;
    transition: 2s;
    position: relative;
    display: none;
       
  
    p {
      font-size: 25px;
      margin: 0;
  
    }
  }

  span {
   color: var(--couleur-bouton);
   font-weight: bold;
  }