
.deuxbouttons {
    display: flex;
    position: relative;
    margin: auto;
    bottom: 20px;
}

.homeContainer {
    background-image: url("../image/imageindex.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    position:relative;
    height: 100vh;
}

