

body {
    background-image: url("../image/imageindex.png");
    background-size: cover;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h1 {
    font-size: 100px;
    text-transform: uppercase;
    color: white;
    font-family: "Wallpoet", serif;
    font-weight: 400;
    font-style: normal;
    
}

.boutton {
text-transform: uppercase;
background-color: var(--couleur-bouton);
color: var(--focusLettre);
font-size:24px; 
padding:10px 20px; 
cursor: pointer; 
border-radius: 50px;
margin-left: 8px;
border: none;
}

.deuxBouttons {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    bottom: 100px; 
    left: 0; 
    right: 0; 
    margin: auto; 
}

.homeContainer {
    background-image: url("../image/imageindex.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    position:relative;
    height: 100vh;
}

.titre {
    text-align: center;
    margin-top: 5%;
}

.regleJeu {
    text-shadow: #000123;
    color: var(--focusLettre);
    border : 2px solid var(--couleur-bouton);
    width: 500px;
    height: 300px;
    padding: 50px;
    align-items: center;
    display: flex;
    font-size: 28px;
    position: absolute;
    right: 15px;   
    top: calc(50% - 150px);
    background: rgba(255, 255, 255, 0.026);    
    box-shadow: 10px 10px 2px white;
    border-radius: 10px;
    display: none;
}

.cross {
    position: absolute; /* Positionnement par rapport au parent (.reglejeu) */
    top: 10px; 
    right: 10px;
    cursor: pointer;
}

.cross img {
    width: 35px;
    height: 35px;
}
