main{
  display: flex;
  padding: 10px;
}

.zoneJeu {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 500px;

  #grille {
    margin: auto;
    margin-bottom: 15px;
  }

  #clavier{
    margin: auto;
  }
}

.affichage{
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.affichageEssais {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  font-size: 24px;

  p {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
  }

  span {
    color: var(--couleur-bouton);
  }

  .boutton {
    opacity: 0;
    visibility: hidden;
    width: fit-content;
    margin: 0 auto;
    transition: .5s;
  }

  .boutton.visible{
    opacity: 1;
    visibility: visible;
  }

}



.timer {
  color: var(--couleur-bouton);
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  margin-bottom: 1.5rem;
}

.bouttonRetour{
    width: fit-content;
    position: absolute;
    top: 15px;
    right: 20px;
    border-radius: 50px;
    color: var(--focusLettre);
    background-color: var(--couleur-bouton);
    cursor: pointer;
}

.CommentJouer{
  color:var(--focusLettre) ;
  border: 1px solid white;
  height: 30px;
  width: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 200px;
  margin: 0px;
  background-color: var(--couleur-bouton);
  cursor: pointer;
}

.regleDuJeu{
  border: 1px solid white;
  color: var(--focusLettre);
  height: 400px;
  display: none;
  background: rgba(255, 255, 255, 0.144); 
  position: absolute; 
  width: 500px;
  top: 50%; /* Centre verticalement */
  left: 50%; /* Centre horizontalement */
  transform: translate(-50%, -50%);

  }

  .texteExplicatif{
    margin-top: 150px;

  }

  .cross {
    position: absolute;
    top: 10px; 
    right: 10px;
    cursor: pointer;
}