main{
  display: flex;
  padding: 10px;
}

.zoneJeu {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 500px;

  #grille {
    margin: auto;
    margin-bottom: 15px;
  }

  #clavier{
    margin: auto;
  }
}

.affichage{
  background-color: ;
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.affichageEssais {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  font-size: 24px;
  
  p {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
  }

  span {
    color: var(--couleur-bouton);
  }

  .boutton {
    opacity: 0;
    visibility: hidden;
    width: fit-content;
    margin: 0 auto;
    transition: .5s;
    margin-top: 30px;
  }

  .boutton.visible{
    opacity: 1;
    visibility: visible;
  }

  .motMystere {
    margin-top: 30px;
    font-size: 24px;
    opacity: 0;
    transition: 0.5s ease-out@;
  }

  .motMystere.visible {
    opacity: 1;
  }

  .motMystere.triche{
    opacity: 0.1;
  }

  .affichageMotMystere {
    color: greenyellow;
    margin-top:100px;
  }

 .affichageDebutPhrase {
  color: white;
  }

}



.timer {
  color: var(--couleur-bouton);
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  margin-bottom: 1.5rem;
}

.afficheResultat {
  text-shadow: #000123;
  color: var(--focusLettre);
  border : 2px solid var(--couleur-bouton);
  width: 200px;
  height: 2.5px;
  padding: 50px;
  align-items: center;
  display: flex;
  font-size: 28px;
  margin-right: auto;
  margin-left: auto;
  background: rgba(255, 255, 255, 0.144);    
  border-radius: 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  position: relative;

  span {
    font-size: 25px;
    color: white;
    margin: 0;
  }
}

.gagne{
  background-color: rgb(0, 128, 107);
}

.perdu{
  background-color: rgb(225, 0, 255);
}

.afficheResultat.visible{
opacity: 1;
visibility: visible;
/* display: flex; */
}


.cross {
  position: absolute; /* Positionnement par rapport au parent (.reglejeu) */
  top: 10px; 
  right: 10px;
  cursor: pointer;
}

.cross img {
  width: 35px;
  height: 35px;
}

.bouttonRetour{
  width: fit-content;
  position: absolute;
  top: 15px;
  right: 20px;
  border-radius: 50px;
  color: var(--focusLettre);
  background-color: var(--couleur-bouton);
  cursor: pointer;
  padding: 7px;
  border: none;
  width: auto;
  height: auto;
  font-size: 15px;
}

.CommentJouer{
border-radius: 20px;
color:var(--focusLettre) ;
height: 30px;
width: 30px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 15px;
right: 200px;
margin: 0px;
background-color: var(--couleur-bouton);
cursor: pointer;
}

.regleDuJeu{
border: 1px solid white;
color: var(--focusLettre);
height: 400px;
display: none;
background: rgba(17, 17, 17, 0.804); 
position: absolute; 
width: 500px;
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%);
z-index: 99;
  h2{
    padding-left: 20px;
    padding: 20px;
  }
  p{
    padding-left: 20px;
    padding-right: 10px;
  }

}

.cross {
  position: absolute;
  top: 10px; 
  right: 10px;
  cursor: pointer;
}