main {
    color: white;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.contain {
    display: flex;
}

.div {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

table {
    border-width: 4px;
    border-style: solid;
    border-color: var(--couleur-bouton);
    border-radius: 5px;
}

th {
    padding: 5px;
    width: 120px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.28);
}

td {
    border-bottom: 2px solid rgba(255, 255, 255, 0.28);
}

tr:last-child td {
    border-bottom: none
}

.victoire{
    color:var(--lettreOK)
}

.perdu{
    color: red;
}

span {
    margin-bottom: 5px;
    font-size: 30px;
}

.texteStat{
    color: var(--couleur-bouton);
    margin-right: 20px;
    width: 50px;
    text-align: right;
}

h1 span {
    font-size: 50px;
    color: var(--couleur-bouton);
}

.stat div {
    display : flex;
}

.boutton {
    width: fit-content;
    position: absolute;
    top: 15px;
    right: 20px;
    border-radius: 50px;
    color: var(--focusLettre);
    background-color: var(--couleur-bouton);
    cursor: pointer;
    padding: 7px;
    border: none;
    width: auto;
    height: auto;
    font-size: 15px;
    text-transform: none;
}

a {
    color : white;
    text-decoration: none;
}